.overlay{
  @apply fixed top-0 left-0 right-0 bottom-0 ;
  transition: all 0.5s ease-in-out;
  z-index: 30;

  background-color: rgba(0, 0, 0, 0.754);
}

.modal {
  background-color: #4e4e4e;
  width: 70%;
  width: 380px;
  height: 105px;
  padding: 40px 40px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;

}

.overlay.animated {
  opacity: 0;
  visibility: hidden;

  .modal {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -30%);
    transition-delay: 0.2s;
  }

  &.show {
    opacity: 1;
    visibility: visible;

    .modal {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%);
    }
  }
}
